.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.banner__impact_bold {
  color: var(--electric-blue);
  font-weight: bold;
}

.banner__impact {
  color: var(--electric-blue);
}

.row {
  width: 100vh;
}

.banner__text {
  user-select: none;
}

.banner__image_cont {
  position: absolute;
  right: 25px;
}

.banner__image {
  float: right;
  width: 600px;
  height: 600px;
  object-fit: contain;
}


@media only screen and (max-width: 1200px) {
  .banner__image {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 1600px) {
  .banner__image_cont {
    right: 80px;
  }
}

@media only screen and (min-width: 1800px) {
  .banner__image_cont {
    right: 120px;
  }
}

