.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.banner__impact_bold {
  color: var(--electric-blue);
  font-weight: bold;
}

.banner__impact {
  color: var(--electric-blue);
}

.row {
  width: 100%;
}

.banner__text {
  user-select: none;
}

.banner__image {
  width: 600px;
  height: 600px;
  object-fit: contain;
}


@media only screen and (max-width: 1200px) {
  .banner__image {
    width: 400px;
    height: 400px;
  }
}

