.form-control {
  background-color: transparent;
  border-radius: 7px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--tertiary);
  color: var(--on-tertiary) !important;
  border: none;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  background-color: var(--tertiary);
}

.package__search_bar {
  cursor: pointer;
}

.package__search_bar:focus {
  cursor: text;
}

.package__search_bar:hover {
  box-shadow: 2px 2px 5px var(--tertiary-condensed);
}

::placeholder {
  color: var(--on-tertiary) !important;
}
