.download__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.download__section_title {
  text-align: center;
  color: var(--electric-blue);
  margin-bottom: 20px;
}

.download__method {
  margin-bottom: 50px;
  background-color: var(--tertiary);
  padding: 15px;
  border-radius: 10px;
}

.download__method_text {
  /* color: var(--electric-blue) */
}

.download__methods {
  justify-content: center;
}

.download__step {
  display: block;
}