.adjCard {
  padding: 10px;
  border-radius: 17px;
  margin-right: 10px;
  height: 15rem;  
  margin-top: 30px;
  background-color: #252836;
}

.adjCard__title {
  font-size: 50px;
  user-select: none;
  font-weight: bold;
}

.adjCard__text {
  font-size: 20px;
}