.navbar {
  /* padding-bottom: 10px; */
  z-index: 1000;
  background-color: var(--black)
}

.bg-dark {
  background-color: var(--primary) !important;
}

.navbar__brand {
  font-size: 30px;
  user-select: none;
}

.navbar__logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.nav-item {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--tertiary);
  color: var(--on-tertiary);
  margin: 0 7px;
  user-select: none;
  text-transform: lowercase;
}

.nav-item:hover {
  color: var(--on-tertiary);
  background-color: var(--hover-tertiary);
}

.active {
  background-color: var(--electric-blue);
  color: var(--on-electric-blue);
  font-weight: bold;
}

.active:hover {
  background-color: var(--hover-electric-blue);
  color: var(--on-electric-blue);
}

@media (max-width: 992px) {
  .navbar {
    display: none !important;
  }
}