.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

.section__title {
  color: var(--electric-blue);
  font-size: 70px;
  user-select: none;
}

.section__text {
  font-size: 20px;
}

.section__image_cont {
  text-align: center;
}

.section__image {
  object-fit: contain;
}

.martop {
  margin-top: 50px;
}

.speedImage {
  width: 250px;
  height: 250px;
}

.effecientImage {
  width: 320px;
  height: 320px;
}

.powerImage {
  width: 320px;
  height: 320px;
}

@media only screen and (max-width: 769px) {
  .martop {
    margin-top: 0;
  }
}
