@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  font-family: "Montserrat", "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  --primary: #0b0c10;
  --on-primary: #dededf;
  --secondary: #45a29e;
  --on-secondary: #c5c6c7;
  --tertiary: #1f2833;
  --on-tertiary: #c5c6c7;
  --hover-tertiary: #1f2227;
  --electric-blue: #5bcfff;
  --hover-electric-blue: #2d8ea8;
  --on-electric-blue: #010101;
  --white: rgb(233, 233, 233);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--primary);
  color: var(--on-primary);
}

.cont {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

img {
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary);
  border-radius: 10px;
}

@media only screen and (min-width: 1600px) {
  .cont {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media only screen and (min-width: 1800px) {
  .cont {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
}

a,
button {
  cursor: pointer;
}
