@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  --primary: #0B0C10;
  --on-primary: #c5c6c7;
  --secondary: #45a29e;
  --on-secondary: #c5c6c7;
  --tertiary: #1f2833;
  --on-tertiary: #c5c6c7;
  --hover-tertiary: #303019;
  --electric-blue: #4EAAC4;
  --on-electric-blue: #e4e8ec;

}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--primary);
  color: var(--on-primary);
}

.container {
  margin-left: 16px;
  margin-right: 16px !important;
}

