@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.terminal__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: var(--white);
  border-radius: 20px;
}

.terminal__section h1 {
  color: var(--primary);
  user-select: none;
}
.terminal__section h1 .changing__adjective {
  color: var(--electric-blue);
  font-weight: bold;
}

.terminal__section h1 .changing__adjective:before {
  content: '';
  animation: textChanger infinite 8s;
}

#code {
  overflow: hidden;
  font-family: 'Fira Code', monospace;
}

#code span {
  font-family: 'Fira Code', monospace;
}

.lines {
  color: white;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 7px;
  height: 30px;
  user-select: none;
  font-family: 'Fira Code', monospace;
}

.code-block {
  background-color: #44475a;
  border-radius: 15px;
}

#snippet {
  width: 900px;
  height: 400px;
  margin-top: 35px;
  background-color: #282a36;
  border-radius: 10px;
  user-select: none;
}

#snippet #header {
  position: relative;
  background-color: transparent;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

#snippet #header span {
  position: absolute;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
}
#snippet #header span:nth-child(1) {
  background-color: red;
  top: 15px;
  left: 7px;
}

#snippet #header span:nth-child(2) {
  background-color: orange;
  top: 15px;
  left: 37px;
}

#snippet #header span:nth-child(3) {
  background-color: rgb(21, 206, 67);
  top: 15px;
  left: 67px;
}

@keyframes textChanger{
  0% {
    content: 'speed';
  }
  20% {
    content: 'effeciency';
  }
  40% {
    content: 'power';
  }
  60% {
    content: 'speed';
  }
  80% {
    content: 'effeciency';
  }
  100% {
    content: 'power';
  }
}